
<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<meta name="viewport" content="width=device-width, initial-scale=1" />

<META NAME="Keywords" CONTENT="Myndex, Research and Development, RnD, R&amp;D, Engineer, Engineering, Systems Engineer, Industrial Design, Solidworks, FEA, CADCAM, drafting, 3D modeling, prototyping, software development, database development, IT">

<meta property="fb:app_id" content="227594707878157" />


<meta property="og:type" content="website" />

<meta name="twitter:image" content="/images/APCAcolor4SQUARE.png" >
 
<meta property="og:image" content="/images/APCAcolor4SQUARE.png"/>
<meta property="og:image:alt" content="APCA The Revolution Will Be Readable"/>
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="872" />
<meta property="og:image:height" content="725" />

<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons2020/apple-touch-icon-60x60.png?ver=fav20">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons2020/apple-touch-icon-76x76.png?ver=fav20">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons2020/apple-touch-icon-120x120.png?ver=fav20">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons2020/apple-touch-icon-152x152.png?ver=fav20">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons2020/apple-touch-icon-180x180.png?ver=fav20">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons2020/favicon-32x32.png?ver=fav20">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons2020/favicon-16x16.png?ver=fav20">
<link rel="manifest" href="/images/favicons2020/site.webmanifest?ver=fav20">
<link rel="mask-icon" href="/images/favicons2020/safari-pinned-tab.svg?ver=fav20" color="#3300aa">
<link rel="shortcut icon" href="/images/favicons2020/favicon.ico?ver=fav20">
<meta name="msapplication-TileColor" content="#3300aa">
<meta name="msapplication-config" content="/images/favicons2020/browserconfig.xml?ver=fav20">
<meta name="theme-color" content="#3300aa">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Oxanium:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=K2D:wght@200;300;400;500;600;700&text=N%7C&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/CSS/style.0.1.2-gM.css">  
<link rel="stylesheet" href="/CSS/inline-styles.css" />
<link rel="stylesheet" href="/CSS/new-stylesM.css" />
<!--
-->

<style>
</style>
<!-- end custom head snippets -->
